<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Waste_Food_Management___Donation.Properties.Settings.Wast_Fodd_Managemant_System_And_DonationConnectionString"
            connectionString="Data Source=DESKTOP-A7IP4IG\SQLEXPRESS;Initial Catalog=&quot;Wast Fodd Managemant System And Donation&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>